@font-face {
  font-family: "iconfont"; /* Project id 4347332 */
  src: url('iconfont.woff2?t=1701069173317') format('woff2'),
       url('iconfont.woff?t=1701069173317') format('woff'),
       url('iconfont.ttf?t=1701069173317') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auto:before {
  content: "\e877";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-404:before {
  content: "\e605";
}

